<form action="http://localhost:3000/imc" method="post">
    <input type="text" name="nome" id="nome" placeholder="digite aqui o seu nome">
    <br>
    <input type="text" name="email" id="email" placeholder="digite aqui o seu email">
    <br>
    <input type="text" name="idade" id="idade" placeholder="digite aqui a sua idade">
    <br>
    <input type="text" name="altura" id="altura" placeholder="digite aqui a sua altura">
    <br>
    <input type="text" name="peso" id="peso" placeholder="digite aqui o seu peso">
    <br>
    <input type="submit" value="Enviar">
</form>